<html>
<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="https://fonts.googleapis.com/css?family=Oxygen|Raleway&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script type="text/javascript" src="/static/js/js-fluid-meter.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
	<div class="content" id="screen" style="max-width:100%">
		<div class="row">
			<div class="col-3 text-end led-box">
				<div id="ledStatus" class="led-red"></div>
				<p class="font-desktop">On/Off</p>
			</div>
			<div class="col-3 text-end led-box">
				<div id="ledReady" class="led-green"></div>
				<p class="font-desktop">Ready</p>
			</div>
			<div class="col-3 text-end led-box">
				<div id="ledFilling" class="led-yellow"></div>
				<p class="font-desktop">Filling</p>
			</div>
			<div class="col-3 text-end led-box">
				<div id="ledWater" class="led-blue"></div>
				<p class="font-desktop">Water</p>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-3">
				<label class="font-desktop">Time :<strong id="dispenseSpeed"> 0</strong> ms</label><br>
				<label class="font-desktop">Type :<strong id="type"> Unknown</strong></label><br>
				<label class="font-desktop">Capacity :<strong id="capacity"> 0</strong>/<strong id="request">0</strong> ml</label>
				<div id="fluid-meter-3"></div>
				<label style="font-weight:bold; font-size:50px" id="Status"></label>
			</div>
			<div class="col-9">
				<div class="radio-inputs-desktop">
					<label for="flexRadioDefault1">
						<input id="flexRadioDefault1" class="radio-input" type="radio" name="WaterVolume" value="125" onclick="volumeSet(this.value)" disabled>
							<span class="radio-tile">
								<span class="radio-icon">
								</span>
								<span class="radio-label">125ml</span>
							</span>
					</label>
					<label for="flexRadioDefault2">
						<input id="flexRadioDefault2" checked="" class="radio-input" type="radio" name="WaterVolume" value="250" onclick="volumeSet(this.value)" disabled>
						<span class="radio-tile">
							<span class="radio-icon">
							</span>
							<span class="radio-label">250ml</span>
						</span>
					</label>
					<label for="flexRadioDefault3">
						<input id="flexRadioDefault3" class="radio-input" type="radio" name="WaterVolume" value="300" onclick="volumeSet(this.value)" disabled>
						<span class="radio-tile">
							<span class="radio-icon">
							</span>
							<span class="radio-label">300ml</span>
						</span>
					</label>
					<label for="flexRadioDefault4">
						<input id="flexRadioDefault4" class="radio-input" type="radio" name="WaterVolume" value="500" onclick="volumeSet(this.value)" disabled>
						<span class="radio-tile">
							<span class="radio-icon">
							</span>
							<span class="radio-label">500ml</span>
						</span>
					</label>
					<label for="flexRadioDefault5">
						<input id="flexRadioDefault5" class="radio-input" type="radio" name="WaterVolume" value="1000" onclick="volumeSet(this.value)" disabled>
						<span class="radio-tile">
							<span class="radio-icon">
							</span>
							<span class="radio-label">1000ml</span>
						</span>
					</label>
				</div>
				<div class="radio-inputs-desktop">
					<label>
						<input class="radio-input" type="button" id="btnNormal" value="Normal" disabled>
						<span class="radio-tile-desktop">
							<span class="radio-icon">
								<img src="/static/img/ambient.png" class="rounded image-desktop" alt="Normal">
							</span>
							<span class="button-label-desktop">Normal</span>
						</span>
					</label>
					<label>
						<input class="radio-input"  type="button" id="btnWarm" value="Warm" disabled>
						<span class="radio-tile-desktop">
							<span class="radio-icon">
								<img src="/static/img/tea.png" class="rounded image-desktop" alt="Warm">
							</span>
							<span class="button-label-desktop">Warm</span>
						</span>
					</label>
					<label>
						<input class="radio-input"  type="button" id="btnHot" value="Hot" disabled>
						<span class="radio-tile-desktop">
							<span class="radio-icon">
								<img src="/static/img/hot.png" class="rounded image-desktop" alt="Hot">
							</span>
							<span class="button-label-desktop">Hot</span>
						</span>
					</label><br>
					<label>
						<input class="radio-input"  type="button" id="btnStop" value="Stop" disabled>
						<span class="radio-tile-desktop">
							<span class="radio-icon">
								<img src="/static/img/stop.png" class="rounded image-desktop" alt="Stop">
							</span>
							<span class="button-label-desktop">Stop</span>
						</span>
					</label>
				</div>
			</div>
		</div>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.min.js" type="text/javascript"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
		<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html> 
